extends layout 

block content 
    h1 #{title}: #{category_delete.name}

    p Do you really want to delete this Item?

    form(method='POST' action='')
        div.form-group
            input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category_delete._id )

        div.form-group 
            label(for="adminPassword") Admin Password:
            input#adminPassword.form-control(type='password', name="adminPassword", required=true)

        button.btn.btn-primary(type='submit') Delete