extends layout 

block content 
    h1 #{title}: #{category_delete.name}

    p Do you really want to delete this Item?

    form(method='POST' action='')
        div.form-group
            input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category_delete._id )

        button.btn.btn-primary(type='submit') Delete